#reset-container{
    text-align:center;
}


.squares{
    border: 2px solid black;
    height: 18vmin;
    width: 18vmin;
}

#squares-container{
    display:grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    place-items: center center;
}

.highlight{
    background-color: black;
}

.highlighted{
    background-color: gray;
}